{% extends 'app.twig' %}

{% block content %}

<div class="container-fluid">
	<a href="{{url('/nick', row.nick)}}">{{row.nick}}</a> on {{row.chan}} at {{row.timestamp}}.
	<a href="{{url('/search')}}?query={{row.hash}}">[same]</a>
	<a href="https://www.google.com/searchbyimage?image_url={{row.thumbnail_url}}">[google]</a>
	<a href="http://iqdb.org/?url={{row.thumbnail_url}}">[iqdb]</a>
	<a href="http://saucenao.com/search.php?url={{row.thumbnail_url}}">[saucenao]</a>
	<a href="https://archive.moe/a/search/image/{{row.fuuka_hash}}">[archive.moe]</a>
	<pre>&lt;{{row.nick}}&gt; {{row.msg}}</pre>
	{% if row.filetype == 'webm' %}
	<video autoplay loop src="{{row.fullsize_url}}" />
	{% else %}
	<img src="{{ row.fullsize_url }}" title="{{row.msg}}" class="fullsize img-responsive" />
	{% endif %}
</div>

{% endblock %}
